* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

.navbar {
  background: pink;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  }

.home {
  background-image: url("../couple.png");
  background-repeat: no-repeat;
  background-position: 20% 40%;
  background-size: cover;
  }

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  }

.container {
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  }

.navbar-logo {
  color: rgba(249, 112, 180, 0.7);
  justify-self: start;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  }

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
  }

.nav-menu.active {
  background: #19191a;
  left: 0;
  opacity: 1;
  transition: all 0.6s ease;
  z-index: 1;
  }

.nav-page:hover {
    font-size:25px;
    font-size-adjust: 15px;
  }
  
.nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
.nav-links:hover {
    color: rgba(249, 112, 180, 0.7);
    transform: scale(1.2);
    transition: all 0.3s ease;
  }

.activated {
  color: rgba(249, 112, 180, 0.7);
  }


