* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

.home {
  background-image: url('./couple.png');
  /* background-size: ; */
  display: flex;
  height: 100vh;
  justify-content: center;
  font-size: 3rem;
}

.form {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .form label {
    display: block;
    text-align: left;
  }
  .form h1 {
    font-size: 20px;
    padding: 50px;
    margin-bottom: 30px;
    color: #f1356d;
  }



  .form input, .form textarea, .form select {
    padding: 6px 10px;
    text-align: center;
    margin: 10px 0;
    padding:10px;
    box-sizing: border-box;
    width: 100%;
    display: block;
    border:0;
    border: 1px solid #ddd;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  }

  .label-title {
    text-align: center;
    padding-top: 50px;
    position: center;
}

.form button {
  border: 0;
  padding: 8px;
  border-radius: 8px;
  color: #fff;
  background: #f1356d;
  }

  .message {
    text-align: center;
    padding: 30px;
    background: lightgray;
    color: black;
  }

  .list{
    text-align: center;
    padding: 5px;
    position: relative;
    margin: 1rem;
  }