* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

h1{
  font-family: cursive;
}

h2{
  font-size: 25pt;
}

h3 {
  color: black;
  padding: 30px;
  font-family: cursive;
  font-size: 40pt;

}

h4{
  font-size: 18pt;
}

p {
  font-size: 20pt;
}

.home {
  background-image: url('./couple.png');
  display: flex;
  height: 100vh;
  justify-content: center;
  font-size: 3rem;
}

.form {
    text-align: center;
    margin: 0 auto;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
/* styling for form */
  .form input, .form textarea, .form select {
    padding: 6px 10px;
    text-align: center;
    margin: 15px 0;
    padding:15px;
    box-sizing: border-box;
    width: 100%;
    display: float;
    border:0;
    border: 1px solid #ddd;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  }

  .form button {
    border: 0;
    padding: 10px;
    border-radius: 7px;
    color: #fff;
    background: #da7593;
    }
    
  .message-title {
    text-align: center;
    padding-top: 20px;
    position: center;
}

.message {
  text-align: center;
  padding: 30px;
  background: lightgray;
  color: black;
}

.list{
    text-align: center;
    padding: 5px;
    position: relative;
    margin: 1rem;
    
  }

  /* timer styling */
  .timer-container {
    display: flex;
    flex: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3em;
    padding-top: 5em;
    width: 60%;
    height: 90%;
    color: white;
  }

  .timer div:first-child {
    text-align: center;
    color: white;
  }

  .timer-icon {
    font-size: 2em;
    color: white;
  }

  .timer div:first-child p {
    color: white;
  }

  .timer div:last-child {
    /* border: 3px solid white; */
    text-align: center;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 1em;
    padding: .5em;
    background-color: rgba(134, 130, 130, 0.6);
  }

  section p:first-child, .timer div:last-child span {
    font-size: 3em;
    color: white;
  }

